# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
env/
venv/

# 数据集（大文件）
dataset/images/
dataset/labels/
runs/
tools/*.pt

# 训练数据暂存
training/

# 日志
logs/
*.log
debug.txt
debug/

# IDE
.vscode/
.idea/
*.swp

# 系统
Thumbs.db
.DS_Store