# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
env/
venv/

# 模型和数据集（大文件）
assets/model/*.onnx
dataset/images/
dataset/labels/
runs/
tools/*.pt

# 日志
logs/
*.log
debug.txt

# IDE
.vscode/
.idea/
*.swp

# 系统
Thumbs.db
.DS_Store